/*
.row{
    width:auto;
    display: inline-block;
}
*/

.col-xs-4{
    width: 32%;
    display: inline-block;
    border: solid 2px black;
    box-sizing: border-box;
}

h1{
    text-align: center;
}